<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="BusinessManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- your Developer Id with eBay -->
		<!--<add key="Environment.DevId" value="678bc87a-7a84-4445-8249-2d65d56f0b32" />-->
		<add key="Environment.DevId" value="678bc87a-7a84-4445-8249-2d65d56f0b32"/>
		<!-- your Application Id with eBay -->
		<!--<add key="Environment.AppId" value="mmmmm69ac-ca7a-4165-9331-e0c7f27557e" />-->
		<add key="Environment.AppId" value="mmmmm69ac-ca7a-4165-9331-e0c7f27557e"/>
		<!-- your Application Certificate with eBay -->
		<!--<add key="Environment.CertId" value="d56ae126-2192-4942-bff1-9fabeccfc918" />-->
		<add key="Environment.CertId" value="d56ae126-2192-4942-bff1-9fabeccfc918"/>
		<!-- Rule Name-->
		<add key="RuName" value="mmmmm-mmmmm69ac-ca7a--fkaiu"/>
		<add key="Version" value="705"/>
		<add key="TimeOut" value="180000"/>
		<add key="LogFileName" value="Log.txt"/>
		<!-- API Server URL -->
		<!-- For production site use: https://api.ebay.com/wsapi -->
		<!-- For Sandbox use: https://api.sandbox.ebay.com/wsapi -->
		<add key="Environment.ApiServerUrl" value="https://api.ebay.com/wsapi"/>
		<!-- EPS Server URL -->
		<!-- For production site use: https://api.ebay.com/ws/api.dll"/-->
		<add key="Environment.EpsServerUrl" value="https://api.ebay.com/ws/api.dll"/>
		<!-- eBay Signin URL -->
		<!-- For production site use: https://signin.ebay.com/ws/eBayISAPI.dll?SignIn -->
		<!-- https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn -->
		<!--<add key="Environment.SignInUrl" value="https://signin.ebay.com/ws/eBayISAPI.dll?SignIn" />-->
		<add key="Environment.SignInUrl" value="https://signin.ebay.com.hk/ws/eBayISAPI.dll?SignIn"/>
		<!-- ViewItem URL -->
		<!-- For production site use: http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0} -->
		<add key="Environment.ViewItemUrl" value="http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0}"/>
		<!-- eBay site ID -->
		<add key="UserAccount.eBayUserSiteId" value="0"/>
		<add key="logexception" value="true"/>
		<add key="logmessages" value="true"/>
		<add key="logsdkmessages" value="true"/>
		<add key="logsdk" value="true"/>
		<add key="logfile" value="Log.txt"/>
		<!-- Set this if you access eBay API server behind a proxy server-->
		<add key="Proxy.Host" value=""/>
		<add key="Proxy.Port" value=""/>
		<!-- set proxy server username/password if necessary-->
		<!--<add key="Proxy.Username" value="gamesalor"/>
    <add key="Proxy.Password" value="Dong1979"/>-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<httpRuntime maxRequestLength="400000" useFullyQualifiedRedirectUrl="true" executionTimeout="45"/>
		<customErrors mode="Off"/>
		<identity impersonate="false"/>
		<compilation debug="true" batch="false">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
		<globalization requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="utf-8" culture="zh-cn"/>
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<location path="ScriptResource.axd">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
