{ 
ConnectionStringTable:{ 
OMSTest:"server=122.227.207.204;uid=sa;pwd=`1q2w3e4r;database=OMSTest;Max Pool Size=5000;", 
userdb:"server=122.227.207.204;uid=sa;pwd=`1q2w3e4r;database=UserCenter;Max Pool Size=5000;", 
 }, 
DbType:{ 
OMSTest:"sqlserver", 
userdb:"sqlserver"
 }, 
AssemblyList:[ 
"OMS.Core"
 ], 
IsCheckDatabase:false, 
TablePrefix:"", 
ContextCache:false, 
ApplicationCache:false, 
ApplicationCacheMinutes:0, 
ApplicationCacheManager:"", 
MetaDLL:"", 
Mapping:[ 
{ 
name:"OMS.Core.DoMain.UserType", 
database:"userdb"
 }, 
{ 
name:"OMS.Core.DoMain.CompanyType", 
database:"userdb"
 }
 ], 
Interceptor:[ 
 ]
 }